<div class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__main">
        <h1 class="hero__logo">
          <img src="assets/images/meet-logo.svg" alt="meet" />
        </h1>
        <p class="hero__description">
          URLを送るだけ！<br />
          手軽に使える出欠確認ツール
        </p>
      </div>
      <div class="hero__imgs">
        <img class="example" src="assets/images/hero.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="message">
  <div class="container">
    <div class="message__inner">
      <p>スケジュール調整困ってないですか？</p>
      <img src="assets/images/Schedule.svg" alt="" />
    </div>
  </div>
</div>
<div class="message">
  <div class="container">
    <div class="message__inner">
      <p>Meetを使えばスムーズに<br />日程を調整できます！</p>
      <img src="assets/images/Time-management.svg" alt="" />
    </div>
  </div>
</div>
<div class="message">
  <div class="container">
    <div class="message__inner">
      <p>Let's Start!!</p>
      <img src="assets/images/Connecting-teams.svg" alt="" />
    </div>
  </div>
</div>
