<div class="wrapper">
  <div class="hero">
    <div class="logo-group">
      <ul>
        <li><img src="assets/images/Meet-logo.svg" alt="" /></li>
        <li>
          <div class="hero__description">画期的なスケジュール調整ツール</div>
        </li>
      </ul>
    </div>
    <img class="example" src="assets/images/example-1.svg" alt="" />
    <img class="example" src="assets/images/example-2.svg" alt="" />
  </div>
  <div class="section">
    <div class="message">スケジュール調整困ってないですか？</div>
    <img src="assets/images/Schedule.svg" alt="" />
  </div>
  <div class="section section--accent">
    <img src="assets/images/Time-management.svg" alt="" />
    <div class="message">Meetを使えばスムーズに日程を調整できます</div>
  </div>
  <div class="section">
    <div class="message">Let's Start!!</div>
    <img src="assets/images/Connecting-teams.svg" alt="" />
  </div>
</div>
