@import '~@angular/material/theming';

$color-main: map-get($mat-cyan, 500);
$color-accent: map-get($mat-lime, 500);
$color-base: #e2f2fd;
$color-font: map-get($mat-grey, 900);
$color-font-light: map-get($mat-grey, 400);
