<mat-card class="event-card">
  <div class="event-card__inner">
    <div class="event-card__date">
      <div class="date__year">2020</div>
      <div class="date__main"><em>10/17</em>(土)</div>
      <div class="date__open">10:00 開始</div>
      <div class="date__tag">開催前</div>
    </div>
    <div class="event-card__info">
      <h2 class="info__title">
        {{ event.title }}
      </h2>
      <div class="info__tag">主催イベント</div>
      <div class="info__owner">主催者：xxx</div>
      <div class="info__count">参加者： 3人</div>
    </div>
  </div>
</mat-card>
