<div class="container">
  <div class="home-head">
    <h1 class="home-head__title">イベント一覧</h1>
    <div class="home-head__action">
      <button mat-stroked-button color="primary">
        <mat-icon>add</mat-icon>イベント作成
      </button>
    </div>
  </div>
  <div class="home-events">
    <mat-tab-group>
      <mat-tab label="主催イベント">
        <div class="event-list">
          <app-event-card
            *ngFor="let event of eventList"
            [eventTitle]="event.title"
          ></app-event-card>
        </div>
      </mat-tab>
      <mat-tab label="招待イベント"> </mat-tab>
    </mat-tab-group>
  </div>
</div>
