// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$team-mitsui-primary: mat-palette($mat-cyan);
$team-mitsui-accent: mat-palette($mat-lime, A200, A100, A400);

// The warn palette is optional (defaults to red).
$team-mitsui-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$team-mitsui-theme: mat-light-theme(
  $team-mitsui-primary,
  $team-mitsui-accent,
  $team-mitsui-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($team-mitsui-theme);

/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import 'mixins';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding-top: 48px;
  font-family: 'Helvetica Neue', 'BlinkMacSystemFont',
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  color: $color-font;
}

button {
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

em {
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  @include md {
    padding: 0 24px;
  }
}
.container-full {
  margin: 0 auto;
  padding: 0 16px;
  @include md {
    padding: 0 24px;
  }
}

.sp-only {
  @include md {
    display: none !important;
  }
}
.pc-only {
  @include sm {
    display: none !important;
  }
}
